{ :db/ident :staff/staff_id
  :db/unique :db.unique/identity
  :db/valueType :db.type/long
  :db/cardinality :db.cardinality/one
  :db/doc "The staff ID"}
{ :db/ident :staff/first_name
  :db/valueType :db.type/string
  :db/cardinality :db.cardinality/one
  :db/doc "The first name"}
{ :db/ident :staff/last_name
  :db/valueType :db.type/string
  :db/cardinality :db.cardinality/one
  :db/doc "The last name"} 
{ :db/ident :staff/address_id
  :db/valueType :db.type/ref
  :db/cardinality :db.cardinality/one
  :db/doc "The address ref"} 
{ :db/ident :staff/email
  :db/valueType :db.type/string
  :db/cardinality :db.cardinality/one
  :db/doc "The email"}
{ :db/ident :staff/store_id
  :db/valueType :db.type/ref
  :db/cardinality :db.cardinality/one
  :db/doc "The store ref"} 
{ :db/ident :staff/active
  :db/valueType :db.type/string
  :db/cardinality :db.cardinality/one
  :db/doc "The active flag "} 
{ :db/ident :staff/username
  :db/valueType :db.type/string
  :db/cardinality :db.cardinality/one
  :db/doc "The user name"} 
{ :db/ident :staff/password
  :db/valueType :db.type/string
  :db/cardinality :db.cardinality/one
  :db/doc "The password"} 
{ :db/ident :staff/last_update
  :db/valueType :db.type/instant
  :db/cardinality :db.cardinality/one
  :db/doc "Last update ts"}   

  